// Text limitation
.text-limitation-one-line {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-limitation-three-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;

  /* autoprefixer: off */
}

.text-limitation-one-line,
.text-limitation-three-lines {
  overflow: hidden;
}
